MAINNET_RPC_URL=

# RPC endpoint (required)
TESTNET_RPC_URL=

RPC_URL=

# Deployed UniswapV3Strategy address (required)
STRATEGY_ADDRESS=0x52aA1553C20b1460F2CdB365892EC3f17Eb69335

# Vault address
VAULT_ADDRESS=0xdD932e80b944dfd12080906001F054621A0a8f7C

# Poll interval in seconds (default: 12)
POLL_INTERVAL=12

# Set to 1 or true to monitor without sending transactions
DRY_RUN=true
